#conainer{
    width: 100%;
    height: 100%;
}
#mapid {
    height: calc(100%);
    width: 100%;
    position: absolute ;
}

.leaflet-right .leaflet-control {
    margin-right: 20px;
}

.text {
    font-size: 15px;
}

.leaflet-sidebar-tabs>ul>li.disabled {
    color: #eff1f100;
}

#polyInfoSidebar{
    height: 440px;
    display: none;
    top:100px;
    width: 325px;
    right: 60px;
    left:auto;
    box-shadow: 0px 1px 10px 1px #757373;
    background-color: #fff;
    position: absolute;
    overflow: auto;
    z-index: 10000000;
}

.sidebar-container {
    background-color: #ccc;
    padding: 5px;
    color: #800000;
    font-family: 'Roboto' !important;
}
.sidebar-header {
    font-size: 32px;
    padding-top: 20px;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
}
.sidebar-subheader {
    font-size: 24px;
    color: #888888;

}
#closepannel{float:right;}

.opacity_slider_control.ui-slider.ui-slider-vertical.ui-widget.ui-widget-content.ui-corner-all.leaflet-control {
    margin-right: 35px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-right: 26px;
}

.legend-control-container.leaflet-control {
    bottom:0px;
}

#sequenceControls {
    padding-top: 10px;
    margin-left: 90px;
    margin-top: 20px;
}
#sliderInfo {
    padding-top: 10px;
    margin-left: 67px;
}
